 h1 {
     color: whitesmoke;
     font-size: 4rem;
 }

 body {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: black;
 }

 .btn {
     height: 10rem;
     width: 10rem;
     color: white;
     background-color: black;
     border: none;
     font-size: 5rem;
 }

 .board {
     width: 30rem;
     display: grid;
     grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
     gap: 0.5vh;
     background-color: white;
     margin-top: 3rem;
 }

 .btn:disabled {
     color: white;
 }
 .newGame {
    margin-top: 2rem;
    border: 3px solid aliceblue;
    background-color: black;
    height: 5rem;
    width: 15rem;
    color: aliceblue;
    font-size: 2rem;
    border-radius: 30px;
    transition-duration: 0.2s;
 }
 .newGame:hover {
    background-color: aliceblue;
    color: black;
 }
 .otherText {
    width: 30rem;
    text-align: center;
 }